* { 
    margin: 0; 
    padding: 0; 
}

body {
    background-color: #05201d;
    font-family: Geo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    gap: 8px;
}

#draggable-container {
    padding-bottom: 40px;
}

h1 {
    background-color: hsl(193, 100%, 50%);
    padding: 2px;
    cursor: grab;
    position: absolute;
}

p {
    font-size: 19px;
    padding: 2px;
    letter-spacing: 0.5px;
}

p#intro {
    background-color: hsl(53, 100%, 50%);
}

p#desc {
    background-color: hsl(119, 74%, 78%);
}

p#contact {
    background-color: hsl(27, 92%, 39%);
}